#This is configuration file of the program. Comments begin with '#'.

#rootpath of dataset
rootname = /home/cai-mj/_GTA

#video name, you can specify multiple videos with one space between each of them
videoname = Alireza_American
startframe = 1
endframe = 1000
interval = 30
thres_palm = 0.3

#feature type. candidate: CONTOUR, CONTOURPCA, SIFT, HOG, SKELETON
feature = SKELETON
thres_contour = 0.3
#clustering method. candidate: KMEANS, SPECTRAL
cluster = SPECTRAL
